* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

button {
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
}

button:hover {
  cursor: pointer;
}

h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 40px;
  text-align: center;
}

h2 {
  font-size: 40px;
  color: rgba(35,39,42,255);
}

h3 {
  font-size: 26px;
  color: #8ea1e1;
  margin-bottom: 10px;
}

h4{
  color: #8ea1e1;
}

p {
  font-size: 16px;
  line-height: 30px;
  color: rgba(35,39,42,255);
}

i {
  color: white;
  margin-right: 15px;
  margin-top: 10px;
}

i:hover {
  cursor: pointer;
}

.channels,
.voicechat,
.fandom,
.multiscreen {
  padding-top: 125px;
  padding-bottom: 125px;
}

ul {
  list-style-type: none;
}

li {
  color: white;
  line-height: 32px;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.img-logo:hover {
  cursor: pointer;
}

/* Stile Header */

.header-background {
  background-color: rgb(37,94,233);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  color: white;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container-left, .header-container-right {
  width: 20%;
} 

.header-container-middle {
  text-align: center;
  width: 60%;
}

.header-container-middle a {
  padding: 0px 10px;
}

.header-container-right {
  text-align: end;
}

.header-button {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 5px 8px;
  border: none;
}

/* Stile Section Jumbotron */

.jumbotron {
  padding: 0;
}

.jumbotron {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  display: flex;
  justify-content: center;
}

.jumbotron .container {
  width: 45%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-jumbotron-top > p {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.jumbo-button-one {
  margin-right: 10px;
  font-size: 18px;
}

.jumbo-button-two {
  background-color: rgba(35,39,42,255);
  color: white;
  margin-left: 10px;
  font-size: 18px;
  height: 44px;
}

/* Stile Section Channnels */

.channels  {
  background-color: white;
  display: flex;
  justify-content: center;
}

.channels .container  { 
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.channels .container-right {
  width: 27%;
}

.container-right-title {
  padding-top: 40px;
  padding-bottom: 25px;
}

/* Stile Section Voice Chat */

.wave-img {
  margin-bottom: -5px;
}

.voicechat  {
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
}

.voicechat .container {
  width: 65%;
  display: flex;
}

.voicechat-container-left-title {
  margin-top: 30px;
  margin-bottom: 25px;
}

.wave-img-rotate {
  margin-top: -5px;
  transform: rotate(180deg);
}

/* Stile Section Fandom */

.fandom > .background  {
  background-color: white;
  display: flex;
  justify-content: center;
}

.fandom .container  { 
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.fandom .container-right {
  width: 27%;
}

.fandom-container-right-title {
  padding-top: 15px;
  padding-bottom: 25px;
}

/* Stile Section Multiscreen */

.wave-img {
  margin-bottom: -5px;
}

.multiscreen {
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
}

.multiscreen .container {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-multiscreen-top {
  margin: 0 85px;
}

.multiscreen h2,
.multiscreen p {
  text-align: center;
}

.container-multiscreen-bottom {
  width: 50%;
  text-align: center;
}

.container-multiscreen-bottom-text {
  margin-bottom: 35px;
}

.container-multiscreen-bottom-button > button {
  background-color: #8ea1e1;
  color: white;
}

/* Stile Footer Top*/

.footer-top  {
  background-color: rgba(35,39,42,255);
  display: flex;
  justify-content: center;
}

.footer-top-container  {
  width: 65%;
  display: flex;
  margin-top: 65px;
}

.img-ita {
  width: 20px;
  float: left;
}

span {
  margin-left: 5px;
  color: white;
  font-size: 15px;
}

.footer-top-container-left img {
  width: 100%;
}


.footer-top-container-right {
  width: 72%;
  display: flex;
}

.element-right {
  width: 25%;
}

/* Stile Footer Bottom*/

.footer-bottom {
  background-color: rgba(35,39,42,255);
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.footer-bottom-container {
  width: 65%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 20px;
  border-top: 1px solid #8ea1e1;;
}

.footer-bottom-container-right button {
  background-color: #8ea1e1;
  color: white;
}